[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = http://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
